{include file="public/header" title="运营后台" /}
<link rel="stylesheet" href="/static/admin/common/fonts/fonts-lib/iconfont.css" />
<link rel="stylesheet" href="/static/admin/css/index.css" />
</head>
<body>

<div class="container">
	<div class="top-nav">
		<div class="company-name"><a href="javascript:;" data-url="/admin/home/index" class="nav">ShopXO</a></div>
		<div class="enlarg-shrink"><i class="iconfont iconenlarge"></i><span>全屏显示</span></div>
		<div class="my">
			<div class="username">{$admin.username}</div>
			<div class="setting-back">
				<a href="javascript:;" data-url="/admin/home/index" class="nav"><span class="iconfont iconsetting"></span>设置</a>
				<a href="/admin/index/loginout"><span class="iconfont iconback"></span>退出</a>
			</div>
		</div>
	</div>
	
	<div class="bottom">
		<div class="left-nav">
			<ul class="layui-nav layui-nav-tree layui-nav-side" lay-shrink="all">
				<li class="layui-nav-item">
					<a href="javascript:;" data-url="/admin/home/index" class="nav">首页</a>
				</li>
				<li class="layui-nav-item">
			    	<a href="javascript:;">系统设置</a>
			    	<dl class="layui-nav-child">
			    		<dd><a href="javascript:;" data-url="/admin/backstage_config/index" class="nav">后台配置</a></dd>
			    		<dd><a href="javascript:;" data-url="/admin/shop_message/index" class="nav">商店信息</a></dd>
			    	</dl>
				</li>
				<li class="layui-nav-item">
			    	<a href="javascript:;">站点配置</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;" data-url="/admin/site_setting/index" class="nav">站点设置</a></dd>
						<dd><a href="javascript:;" data-url="/admin/sms_setting/index" class="nav">短信设置</a></dd>
						<dd><a href="javascript:;" data-url="/admin/email_setting/index" class="nav">邮箱设置</a></dd>
						<dd><a href="javascript:;" data-url="/admin/seo_setting/index" class="nav">SEO设置</a></dd>
						<dd><a href="javascript:;" data-url="/admin/index/xieyi" class="nav">协议管理</a></dd>
				    </dl>
				</li>
			</ul>
		</div>
		<div class="content">
			<div class="second-content">
				<iframe class="iframe" src="/admin/home/index" height="100%" width="100%"></iframe>
			</div>
		</div>
	</div>
</div>

{include file="public/footer" /}
<script src="/static/admin/js/index.js"></script>
</body>
</html>