<div class="tip">左侧图片最多可上传3张图片、每次随机展示其中一张<i class="iconfont iconclose"></i></div>

<form class="layui-form layui-form-pane" action="">
	<div class="group">
		<div class="title">图片1</div>

		<div class="content">
			<div class="layui-form-item image">
				<label class="layui-form-label">图片</label>
				<div class="layui-input-inline">
					<div class="layui-upload-drag" id="login_pic1">
						<div class="icon" style="display:{$data.login_pic1 ? 'none' : 'block'}">
							<i class="layui-icon"></i>
							<p>点击上传，或将文件拖拽到此处</p>
						</div>
						<div class="{$data.login_pic1 ? '' : 'layui-hide'}" id="uploadDemoView">
							<img src="{$data.login_pic1}" alt="上传成功后渲染" style="max-width: 196px">
						</div>
					</div>
				</div>
				<div class="layui-form-mid layui-word-aux">图片1 [ 建议使用 450X350 像数 ]</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">url地址</label>
				<div class="layui-input-inline">
					<input type="text" name="login_url1" value="{$data.login_url1}" placeholder="url地址" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">地址1 [ 带http://或https:// ]</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">背景色</label>
				<div class="layui-input-inline" style="width: 60%;">
					<div class="layui-input-inline" style="width: 538px;">
						<input type="text" name="login_color1" value="{$data.login_color1}" disabled placeholder="请选择颜色" class="layui-input color" id="login_color1">
					</div>
					<div class="layui-inline" style="left: -11px;">
						<div id="login_color_selector1"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="group">
		<div class="title">图片2</div>

		<div class="content">
			<div class="layui-form-item image">
				<label class="layui-form-label">图片</label>
				<div class="layui-input-inline">
					<div class="layui-upload-drag" id="login_pic2">
						<div class="icon" style="display:{$data.login_pic2 ? 'none' : 'block'}">
							<i class="layui-icon"></i>
							<p>点击上传，或将文件拖拽到此处</p>
						</div>
						<div class="{$data.login_pic2 ? '' : 'layui-hide'}" id="uploadDemoView">
							<img src="{$data.login_pic2}" alt="上传成功后渲染" style="max-width: 196px">
						</div>
					</div>
				</div>
				<div class="layui-form-mid layui-word-aux">图片2 [ 建议使用 450X350 像数 ]</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">url地址</label>
				<div class="layui-input-inline">
					<input type="text" name="login_url2" value="{$data.login_url2}" placeholder="url地址" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">地址2 [ 带http://或https:// ]</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">背景色</label>
				<div class="layui-input-inline" style="width: 60%;">
					<div class="layui-input-inline" style="width: 538px;">
						<input type="text" name="login_color2" value="{$data.login_color2}" disabled placeholder="请选择颜色" class="layui-input color" id="login_color2">
					</div>
					<div class="layui-inline" style="left: -11px;">
						<div id="login_color_selector2"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="group">
		<div class="title">图片3</div>

		<div class="content">
			<div class="layui-form-item image">
				<label class="layui-form-label">图片</label>
				<div class="layui-input-inline">
					<div class="layui-upload-drag" id="login_pic3">
						<div class="icon" style="display:{$data.login_pic3 ? 'none' : 'block'}">
							<i class="layui-icon"></i>
							<p>点击上传，或将文件拖拽到此处</p>
						</div>
						<div class="{$data.login_pic3 ? '' : 'layui-hide'}" id="uploadDemoView">
							<img src="{$data.login_pic3}" alt="上传成功后渲染" style="max-width: 196px">
						</div>
					</div>
				</div>
				<div class="layui-form-mid layui-word-aux">图片3 [ 建议使用 450X350 像数 ]</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">url地址</label>
				<div class="layui-input-inline">
					<input type="text" name="login_url3" value="{$data.login_url3}" placeholder="url地址" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">地址3 [ 带http://或https:// ]</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">背景色</label>
				<div class="layui-input-inline" style="width: 60%;">
					<div class="layui-input-inline" style="width: 538px;">
						<input type="text" name="login_color3" value="{$data.login_color3}" disabled placeholder="请选择颜色" class="layui-input color" id="login_color3">
					</div>
					<div class="layui-inline" style="left: -11px;">
						<div id="login_color_selector3"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="layui-form-item">
	    <div class="layui-input-block">
	    	<button class="layui-btn" lay-submit lay-filter="passwordFind">立即提交</button>
	    </div>
	</div>
</form>