
<form class="layui-form layui-form-pane" action="">

	<div class="layui-form-item">
		<label class="layui-form-label">SMTP服务器</label>
		<div class="layui-input-inline">
			<input type="text" name="smtp_server" value="{//$data.smtp_server}" placeholder="请填SMTP服务器" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">设置SMTP服务器的地址，如 smtp.163.com</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">SMTP端口</label>
		<div class="layui-input-inline">
			<input type="number" name="smtp_port" value="{//$data.smtp_port}" placeholder="请填SMTP端口" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">设置SMTP服务器的端口，默认为 25</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">发信人邮件地址</label>
		<div class="layui-input-inline">
			<input type="email" name="sender_email_address" value="{//$data.sender_email_address}" placeholder="请填发信人邮件地址" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">使用SMTP协议发送的邮件地址，如 shopxo@163.com</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">SMTP身份验证用户名</label>
		<div class="layui-input-inline">
			<input type="text" name="smtp_proving_username" value="{//$data.smtp_proving_username}" placeholder="请填SMTP身份验证用户名" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">如 ShopXO</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">SMTP身份验证密码</label>
		<div class="layui-input-inline">
			<input type="password" name="smtp_proving_password" value="{//$data.smtp_proving_password}" placeholder="请填SMTP身份验证密码" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">shopxo@163.com邮件的密码</div>
	</div>

	<div class="layui-form-item">
    	<label class="layui-form-label">SSL方式加密</label>
		<div class="layui-input-inline">
			<select name="ssl_encrypt_way" lay-verify="required" lay-search>
				<option value="1" {//$data.ssl_encrypt_way == 1 ? 'selected' : ''}>关闭</option>
				<option value="2" {//$data.ssl_encrypt_way == 2 ? 'selected' : ''}>开启</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">发件人显示名称</label>
		<div class="layui-input-inline">
			<input type="text" name="sender_show_name" value="{//$data.sender_show_name}" placeholder="请填发件人显示名称" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">如 ShopXO</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">测试接收的邮件地址</label>
		<div class="layui-input-inline receive_email_address">
			<input type="email" name="receive_email_address" value="{//$data.receive_email_address}" placeholder="请填测试接收的邮件地址" autocomplete="off" class="layui-input">
			<button type="button">测试</button>
		</div>
		<div class="layui-form-mid layui-word-aux">请先保存配置后，再进行测试</div>
	</div>

	<div class="layui-form-item">
	    <div class="layui-input-block">
	    	<button class="layui-btn" lay-submit lay-filter="emailSetting">立即提交</button>
	    </div>
	</div>
</form>