<form class="layui-form layui-form-pane" action="">

	<div class="layui-form-item">
		<label class="layui-form-label message-template-title">通用-邮件模板</label>
		<div class="layui-input-inline rich-text">
			<script id="general-template" name="general_template" type="text/plain"></script>

		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label message-template-title">用户注册-邮件模板</label>
		<div class="layui-input-inline rich-text">
			<script id="user-register-template" name="user_register_template" type="text/plain"></script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label message-template-title">密码找回-邮件模板</label>
		<div class="layui-input-inline rich-text">
			<script id="find-password-template" name="find_password_template" type="text/plain"></script>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label message-template-title">邮箱绑定-邮件模板</label>
		<div class="layui-input-inline rich-text">
			<script id="email-bind-template" name="email_bind_template" type="text/plain"></script>
		</div>
	</div>

	<div class="layui-form-item">
	    <div class="layui-input-block">
	    	<button class="layui-btn message-template-btn" lay-submit lay-filter="messageTemplate">立即提交</button>
	    </div>
	</div>
</form>