{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/css/goods_manage/goods_list.css" />
</head>
<body>
	<div class="layer-container">
		<ul>
			<li>标题名称</li>
			<li>{$results.name}</li>
		</ul>
		<ul>
			<li>商品简述</li>
			<li>{$results.summary}</li>
		</ul>
		<ul>
			<li>销售价格</li>
			<li>
				{if $results.min_price == $results.max_price || $results.min_price == 0}
					售价: {$results.max_price}
				{else /}
					售价: {$results.min_price}-{$results.max_price}
				{/if}
				{if $results.max_origin_coset == 0}
								
				{elseif $results.min_origin_coset == $results.max_origin_coset || $results.min_origin_coset == 0 /}
					—— 原价: {$results.max_origin_coset}
				{else /}
					—— 原价: {$results.min_origin_coset}-{$results.max_origin_coset}
				{/if}
			</li>
		</ul>
		<ul>
			<li>上下架</li>
			<li>{$results.is_sell == 1 ? '上架' : '下架'}</li>
		</ul>
		<ul>
			<li>库存数量</li>
			<li>{$results.inventory_total}{$results.repertory_unit}</li>
		</ul>
		<ul>
			<li>最低起购量</li>
			<li>{$results.min_buy_num}{$results.repertory_unit}</li>
		</ul>
		<ul>
			<li>单次最大购买量</li>
			<li>
				{if $results.max_buy_num == ""}
					<span class="fill-out">不限</span>
				{else /}
					{$results.max_buy_num}{$results.repertory_unit}
				{/if}
			</li>
		</ul>
		<ul>
			<li>商品型号</li>
			<li>{$results.model}</li>
		</ul>
		<ul>
			<li>品牌</li>
			<li>{$results.brand}</li>
		</ul>
		<ul>
			<li>生产地</li>
			<li>{$results.yieldly}</li>
		</ul>
		<ul>
			<li>商品分类</li>
			<li>{$results.classify}</li>
		</ul>
		<ul>
			<li>购买赠送积分</li>
			<li>{$results.point}</li>
		</ul>
		<ul>
			<li>扣减库存</li>
			<li>{$results.reduce_repertory == 1 ? '是' : '否'}</li>
		</ul>
		<ul>
			<li>访问次数</li>
			<li></li>
		</ul>
		<ul>
			<li>SEO标题</li>
			<li>{$results.seo_name}</li>
		</ul>
		<ul>
			<li>SEO关键字</li>
			<li>{$results.seo_key}</li>
		</ul>
		<ul>
			<li>SEO描述</li>
			<li>{$results.seo_describe}</li>
		</ul>
		<ul>
			<li>注册时间</li>
			<li>{:date('Y-m-d H:i:s',$results.create_time)}</li>
		</ul>
		<ul>
			<li>更新时间</li>
			<li>
				{if $results.update_time == 0}
					<span class="fill-out">未有更新</span>
				{else /}
					{:date('Y-m-d H:i:s',$results.update_time)}
				{/if}
			</li>
		</ul>
		
	</div>
	{include file="public/footer" /}

	<!-- <script src="/static/admin/js/authority_control/found_manager.js"></script> -->
</body>
</html>