{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/css/system_setting/backstage_configure.css" />
<link rel="stylesheet" href="/static/admin/css/authority_control/manager_list.css" />
</head>
<body>

	<!-- 搜索和新增 -->
	<div class="top">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<div class="layui-inline">
					<div class="layui-input-inline" style="width: 200px;">
						<input type="text" name="title" placeholder="用户名/手机" autocomplete="off" class="layui-input">
					</div>
				</div>

				<div class="layui-inline">
					<div class="layui-input-inline" style="width: 200px;">
						<select name="city">
							<option value="">选择权限</option>
							<option value="1">权限组</option>
							<option value="2">管理员</option>
							<option value="3">超级管理员</option>
						</select>
					</div>
				</div>

				<div class="layui-inline">
					<div class="layui-input-inline" style="width: 200px;">
						<select name="city">
							<option value="">选择性别</option>
							<option value="1">保密</option>
							<option value="2">男性</option>
							<option value="3">女性</option>
						</select>
					</div>
				</div>
	 
				<div class="layui-inline">
					<div class="layui-input-inline" style="width: 200px;">
						<input type="text" class="layui-input" id="date" placeholder="选择日期">
					</div>
				</div>

				 <div class="layui-inline">
					<div class="layui-input-inline" style="width: 66px;">
						<button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
					</div>
					<div class="layui-input-inline" style="width: 66px;">
						<button type="reset" class="layui-btn layui-btn-primary">清空</button>
					</div>
				</div>

			</div>
		</form>

		<button type="button" class="layui-btn save-manager"><i class="layui-icon">&#xe608;</i> 新增</button>

	</div>

	<!-- 数据表格 -->
	<table>
		<thead>
			<tr>
				<th>序列</th>
				<th>管理员</th>
				<th>登录次数</th>
				<th>手机号码</th>
				<th>权限组</th>
				<th>上一次登录时间</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{volist name="$data" id="vo"}
			<tr>
				<td>{$num++}1</td>
				<td>{$vo.username}</td>
				<td>{//:date('Y-m-d H:i:s',$vo.create_time)}20</td>
				<td>{$vo.telephone}</td>
				<td>{$vo.authority_group}</td>
				<td>{//$vo.role_delimiter}刘盖</td>
				<td>{:date('Y-m-d H:i:s',$vo.create_time)}</td>
				<td>
					<button type="button" data-id="{//$vo.id}" class="layui-btn layui-btn-xs edit">编辑</button>
					<button type="button" data-id="{//$vo.id}" class="layui-btn layui-btn-xs layui-btn-danger delete">删除</button>
				</td>
			</tr>
			{/volist}
		</tbody>

		<tfoot>
			<tr>
				<td colspan="5">
					{//$page|raw}
				</td>
			</tr>
		</tfoot>
	</table>
	
	{include file="public/footer" /}

	<script src="/static/admin/js/authority_control/manager_list.js"></script>
</body>
</html>