{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/css/authority_control/manager_list.css" />
</head>
<body>
	<div class="layer-container">
		<form class="layui-form layui-form-pane" action="">
			{if $list !=  null}
			<input type="hidden" name="id" value="{$list.id}">
			{/if}

			

			<div class="layui-form-item">
		    	<label class="layui-form-label">用户名</label>
				<div class="layui-input-inline">
					<input type="text" name="username" value="{$list.username}" lay-verify="required" placeholder="请填用户名" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">登录密码</label>
				<div class="layui-input-inline">
					<input type="password" name="password" value="" lay-verify="{$list == null ? 'required' : ''}" placeholder="{$list == null ? '请填登录密码' : '若不修改密码则不用填写'}" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-inline">
					<input type="number" name="telephone" value="{$list.telephone}" lay-verify="required|phone" placeholder="请填手机号码" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">权限组</label>
				<div class="layui-input-inline">
					<select name="authority_group" lay-verify="required" lay-search>
						{volist name="$data" id="vo"}
						<option value="{$vo.id}" {$list.authority_group == $vo.id ? 'selected' : ''}>{$vo.role_delimiter}</option>
						{/volist}
					</select>
				</div>
			</div>

			<div class="layui-form-item" pane>
				<label class="layui-form-label">性别</label>
				<div class="layui-input-inline">
					<input type="radio" name="sex" value="1" title="男性" {$list.sex == 1 ? 'checked' : ''}>
					<input type="radio" name="sex" value="2" title="女性" {$list.sex == 2 ? 'checked' : ''}>
					<input type="radio" name="sex" value="3" title="保密" {$list.sex == 3||$list.sex == '' ? 'checked' : ''}>
				</div>
			</div>

			<div class="layui-form-item">
			    <div class="layui-input-block">
			    	<button class="layui-btn" lay-submit lay-filter="foundGroup">保存</button>
			    </div>
			</div>
		</form>
	</div>
	
	{include file="public/footer" /}

	<script src="/static/admin/js/authority_control/found_manager.js"></script>
</body>
</html>