{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/css/system_setting/backstage_configure.css" />
<link rel="stylesheet" href="/static/admin/common/fonts/fonts-lib/iconfont.css" />
<link rel="stylesheet" href="/static/admin/css/authority_control/authority_allocation.css" />
</head>
<body>

	<!-- 搜索和新增 -->
	<div class="top">
		<div></div>
		<button type="button" class="layui-btn found"><i class="layui-icon">&#xe608;</i> 新增</button>
	</div>

	<div class="layui-collapse" lay-accordion>
		{volist name="$lists" id="list"}
		<div class="layui-colla-item">
			<h2 class="layui-colla-title">{$list.authority_name}<i class="iconfont iconedit" data-id="{$list.id}"></i></h2>
			<div class="layui-colla-content">
				<div class="second-centent">
					{volist name="$list.second_authority" id="vo"}
					<span class="second-authority {$vo.is_show == 1 ? 'green' : 'yellow'}">
						{$vo.authority_name}
						<span><i class="iconfont iconedit" data-id="{$vo.id}"></i><i class="iconfont icondelete" data-id="{$vo.id}"></i></span>
					</span>
					{/volist}
				</div>
			</div>
		</div>
		{/volist}
	</div>
	
	{include file="public/footer" /}

	<script src="/static/admin/js/authority_control/authority_allocation.js"></script>
</body>
</html>