{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/common/fonts/fonts-lib/iconfont.css" />
<link rel="stylesheet" href="/static/admin/css/authority_control/role_manage.css" />
</head>
<body>
	<div class="found-top">
		<div class="return-page"><i class="iconfont iconreturn"></i><span>返回</span></div>
		<div class="title">角色添加</div>
	</div>

	<div class="layer-container">
		<form class="layui-form layui-form-pane" action="">
			<!-- 角色id -->
			{if $results !=  null}
			<input type="hidden" name="id" value="{$results.id}">
			{/if}

			<div class="layui-form-item">
				<label class="layui-form-label">角色名称</label>
				<div class="layui-input-inline">
					<input type="text" name="role_delimiter" value="{$results.role_delimiter}" placeholder="角色名称2~6个字符" autocomplete="off" class="layui-input route-delimiter">
				</div>
			</div>

			<div class="layui-form-item">
		    	<label class="layui-form-label">是否启用</label>
				<div class="layui-input-inline">
					<select name="is_start" lay-verify="required" lay-search>
						<option value="1" {$results.is_start == 1 ? 'selected' : ''}>关闭</option>
						<option value="2" {$results.is_start == 2 ? 'selected' : ''}>开启</option>
					</select>
				</div>
			</div>

			<div class="layui-collapse">
				{volist name="$lists" id="list"}
				<div class="layui-colla-item">
					<h2 class="layui-colla-title"></h2>
					<span class="first-authority">
						<input class="first-input" type="checkbox" name="name{$list.id}" value="{$list.id}" {:in_array($list.id,$results['authority'] ? $results['authority'] : []) ? 'checked' : ''} lay-ignore>
						<span>{$list.authority_name}</span>
					</span>
					
					<div class="layui-colla-content layui-show">
						<div class="second-centent">
							{volist name="$list.second_authority" id="vo"}
							<span class="second-authority {$vo.is_show == 1 ? 'green' : 'yellow'}">
								<input class="second-input" type="checkbox" name="name{$vo.id}" value="{$vo.id}" {:in_array($vo.id,$results['authority'] ? $results['authority'] : []) ? 'checked' : ''} lay-ignore>
								<span>{$vo.authority_name}</span>
							</span>
							{/volist}
						</div>
					</div>
				</div>
				{/volist}
			</div>
			
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="foundRole">保存</button>
				</div>
			</div>
		</form>
	</div>
	
	{include file="public/footer" /}

	<script src="/static/admin/js/authority_control/found_role.js"></script>
</body>
</html>