{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/css/system_setting/backstage_configure.css" />
<link rel="stylesheet" href="/static/admin/css/authority_control/role_manage.css" />
</head>
<body>

	<!-- 搜索和新增 -->
	<div class="top">
		<div></div>
		<button type="button" class="layui-btn found"><i class="layui-icon">&#xe608;</i>新增</button>
	</div>

	<table>
		<thead>
			<tr>
				<th>序列</th>
				<th>角色名称</th>
				<th>角色</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{volist name="$data" id="vo"}
			<tr>
				<td>{$num++}</td>
				<td>{$vo.role_delimiter}</td>
				<td><span class="stop">启用</span></td>
				<td>{:date('Y-m-s h:i:s',$vo.create_time)}</td>
				<td><span class="edit">编辑</span><span class="delete">删除</span></td>
			</tr>
			{/volist}
		</tbody>

		<tfoot>
			<tr>
				<td colspan="5">
					{$page|raw}
				</td>
			</tr>
		</tfoot>
	</table>

	<!-- <table class="layui-table" id="demo"></table> -->
	
	{include file="public/footer" /}

	<!-- <script src="/static/admin/js/authority_control/role_manage.js"></script> -->
<!-- <script>
    layui.use('table', function(){
        var table = layui.table;

		//第一个实例
		table.render({
			elem: '#demo',
			height: 312,
			url:"{:url('/admin/role_manage/returnLayui')}",
			id:'tryReload',
			parseData:function(res){
				return{
					"code":0,
					"msg":"",
					"count":8,
					data:res
				}
			},
			cols: [[
				{title: '序号', type: 'numbers'},
				{field: 'id', title: 'id', hide: true},
				{field: 'role_delimiter', title: '角色名称'},
				{title: '状态', toolbar: '#status'},
				{field: 'create_time', title: '创建时间'},
				{title: '操作', toolbar: '#operation'}
			]]
		});
    });
</script>

<script type="text/html" id="operation">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="status">
	<span class="stop">启用</span>
</script> -->

</body>
</html>