{include file="public/header" title="后台信息" /}

<link rel="stylesheet" href="/static/admin/css/system_setting/backstage_configure.css" />
<!-- <link rel="stylesheet" href="/static/admin/common/fonts/fonts-lib/iconfont.css" /> -->
<link rel="stylesheet" href="/static/admin/css/authority_control/role_manage.css" />
</head>
<body>

	<!-- 搜索和新增 -->
	<div class="top">
		<div></div>
		<button type="button" class="layui-btn found"><i class="layui-icon">&#xe608;</i> 新增</button>
	</div>
	
	{include file="public/footer" /}

	<script src="/static/admin/js/authority_control/role_manage.js"></script>
</body>
</html>